.banner {
    display: flex;
    align-items: center;
    // position: relative;
}

// .banner img {
//     display: block;
//     width: 100%;
//     height: 317px;
// }

.content {
    position: absolute;
    left: 5%;
    top: 15%;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.enroll-button {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    border: none;
}

.enroll-button:hover {
    background-color: #333;
    color: #fff;
}